*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties */

:root{
    --navbar-bg-color: #000000;
    --header-bg-color: #080b12;
    --footer-bg-color: #282828;
    --main-bg-color: #141922;
    --header-footer-height: 80px;
    --navbar-lg-width: 250px;
    --navbar-xs-width: 50px;
    --color-gray:#6b6b6b;
}

/* Generals */

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#top-content{
    height: calc(100vh - var(--header-footer-height));
    display: flex;
}

#right-content{
    flex-grow: 1;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

h2{
    margin: 25px 0;
}

h3{
    font-size: 16px;
}

/* Utilities */

.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-end{
    justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.f-wrap{
    flex-wrap: wrap;
}

.f-grow{
    flex-grow: 1;
}

.f-shrink{
    flex-shrink: 1;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-10{
    margin-bottom: 10px;
}

.color-gray{
    color: var(--color-gray);
}

.img-gray{
    filter:invert(.5)
}

.gap-25{
    gap: 25px;
}

.p-5{
    padding: 5px;
}

.text-center{
    text-align: center;
}

.p-10{
    padding: 10px;
}

.p-25{
    padding: 25px 0;
}

.pl-10{
    padding-left: 10px;
}

.btn{
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    padding: 15px 25px;
    font-weight: 600;
}
.c-pointer{
    cursor: pointer;
}

/* Header */

header{
    position: sticky;
    background-color: var(--header-bg-color);
    right: 0;
    top: 0;
    height: var(--header-footer-height);
    width: 100%;
    padding-right: 20px;
}

/* Menu */

#left-navbar{
    background-color: var(--navbar-bg-color);
    flex: 0 0 var(--navbar-xs-width);
    height: 100%;
    color: white;
    overflow-y: hidden;
}

#left-navbar > *{
    width: 100%;
}

.playlist-ul{
    min-height: 70px;
    overflow-y: auto;
    cursor: pointer;
}

.playlist-ul li{
    margin-bottom: 10px;
}

.navbar-top img{
    width: 30px;
}

.simbol-add{
    color: black;
    width: 30px;
    height: 30px;
    font-size: 40px;
    font-weight: 600;
    background-color: var(--color-gray);
    margin-right: 15px;
}

.download-img{
    width: 20px;
    margin-right: 10px;
}

.profile-img{
    width: 20px;
    height: 20px;
    background-color: var(--color-gray);
    border-radius: 50%;
    overflow: hidden;
}

.profile-name{
    font-weight: 600;
    margin-left: 10px;
}

/* Main */

main{
    background-color: var(--main-bg-color);
    overflow-y: auto;
    height: calc(100vh - var(--header-footer-height) * 2);
    flex-grow: 1;
    color: white;
    padding: 20px;
}

.playlist-music{
    flex: 0 0 50%;
    padding: 5px;
    cursor: pointer;
}

.album-img{
    position: relative;
}

.tablet{
    display: none;
}

#navbar-music ul{
    gap: 20px;
}

.popular-artists img{
    border-radius: 50%;
}
.album-img i{
    display: none;
}

#navbar-music a{
    font-size: 14px;
}

/*  Footer */

footer{
    background-color: var(--footer-bg-color);
    height: var(--header-footer-height);
    color: white;
    padding: 25px 5px;
}

footer > *{
    width: 100%;
}
.song-author{
    font-weight: 600;
}

.album{
    width: 50px;
    height: 50px;
}

.song i{
    padding: 5px;
}

/* Progressbar */

.progress-bar{
    width: 75%;
    height: 3px;
    background-color: var(--color-gray);
    border-radius: 2px;
    margin: 10px 10px;
    position: relative;
}

.progress-bar .value{
    display: inline-block;
    position: absolute;
    background-color: white;
    height: 100%;
    width: 20%;
    left: 0;
    top: 0;
}

.minute{
    font-size: 12px;
}

.control-player .fa-play{
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    padding-left: 3px;
}

.volume-bar{
    width: 20%;
}

/* Hover */

.btn:hover{
    transform: scale(1.1);
}

li:hover{
    color: white;
}

a:hover{
    color: white;
}

i:hover{
    color: white;
}

a:hover .img-gray{
    filter: invert(0);
}

.song-name:hover{
    color: white;
    text-decoration: underline;
}

.download-text:hover{
    color: white;
}

.add-playlist:hover .simbol-add{
    background-color: white;
}

.add-playlist:hover .color-gray{
    color: white;
}

i:hover{
    transform: scale(1.2);
}

.progress-bar .value:hover{
    background-color: green;
}

.value:hover .marker{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    border: 2px solid white;
}

.navbar-top a:focus{
    border-left: 2px solid green;
    color: white;
}

.navbar-top a:focus .img-gray{
    filter: invert(0);
}

#navbar-music a:focus{
    color: white;
}

#navbar-music a:focus:after{
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background-color: green;
    margin: 0 auto;
}

.album-img:hover::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.popular-artists .album-img:hover::before{
    border-radius: 50%;
}

.album-img i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    line-height: 70px;
    padding-left: 18px;
}

.album-img:hover i{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
}

/* Query */

@media screen and (min-width: 600px) {
    #left-navbar{
        flex-basis: var(--navbar-lg-width);    
    }

    #left-navbar .logo{
        width: 75%;
    }

    .tablet{
        display: inline-block;
    }

    .mobile{
        display: none;
    }

    .mobile.d-flex{
        display: block;
    }
}

/* Tablet */                          

@media screen and (min-width: 768px){
    .playlist-music{
        flex-basis: calc(100% / 4);
    }
    .download{
        border-bottom: 1px solid var(--color-gray);
        padding-bottom: 5px;
    }
    footer .info-song{
        margin: 10px;
    }

    .account, .download{
        justify-content: flex-start;
    }
}

/* Laptop */

@media screen and (min-width: 992px){
    .playlist-music{
        flex-basis: calc(100% / 6);
    }
}
