*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties */

:root{
    --navbar-bg-color: #000000;
    --header-bg-color: #080b12;
    --footer-bg-color: #282828;
    --main-bg-color: #141922;
    --header-footer-height: 80px;
    --navbar-lg-width: 300px;
    --navbar-xs-width: 50px;
}

/* Generals */

body{
    font-family: 'Montserrat', sans-serif;
}
#top-content{
    height: calc(100vh - var(--header-footer-height));
    display: flex;
}
#right-content{
    flex-grow: 1;
}

a{
    text-decoration: none;
}

/* Utilities */

.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-end{
    justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.f-wrap{
    flex-wrap: wrap;
}

.f-grow{
    flex-grow: 1;
}

.btn{
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    padding: 15px 25px;
    font-weight: 600;
}

/* Header */

header{
    position: sticky;
    background-color: var(--header-bg-color);
    right: 0;
    top: 0;
    height: var(--header-footer-height);
    width: 100%;
    padding-right: 20px;
}

/* Menu */

#left-navbar{
    background-color: var(--navbar-bg-color);
    flex: 0 0 var(--navbar-xs-width);
    height: 100%;
    color: white;
    overflow: hidden;
    padding: 25px;
}

#left-navbar > *{
    width: 100%;
}

.playlist-ul{
    height: 350px;
    overflow-y: auto;
}

/* Main */

main{
    background-color: var(--main-bg-color);
    overflow-y: auto;
    height: calc(100vh - var(--header-footer-height) * 2);
    flex-grow: 1;
    color: white;
}

/*  Footer */

footer{
    background-color: var(--footer-bg-color);
    height: var(--header-footer-height);
}


/* Query */

@media screen and (min-width: 600px) {
    #left-navbar{
        flex-basis: var(--navbar-lg-width);    
    }
}